test/flows.json
[
	{
		"id": "c10444d6.24f428",
		"type": "tab",
		"label": "Flow 1",
		"disabled": false,
		"info": ""
	},
	{
		"id": "d5ccfaab.da9908",
		"type": "function",
		"z": "c10444d6.24f428",
		"name": "flow set count 123",
		"func": "flow.set(\"count\", 123, \"consul\", function(err) {\n    node.send(msg);\n})",
		"outputs": 1,
		"noerr": 0,
		"x": 310,
		"y": 140,
		"wires": [
			[
				"2664b765.2c1e98"
			]
		]
	},
	{
		"id": "334f76c1.3a1c2a",
		"type": "inject",
		"z": "c10444d6.24f428",
		"name": "",
		"topic": "",
		"payload": "",
		"payloadType": "date",
		"repeat": "",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"x": 100,
		"y": 140,
		"wires": [
			[
				"d5ccfaab.da9908",
				"4e2d4a43.e40fb4"
			]
		]
	},
	{
		"id": "96e5c613.beddc8",
		"type": "debug",
		"z": "c10444d6.24f428",
		"name": "",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "false",
		"x": 650,
		"y": 140,
		"wires": [
		]
	},
	{
		"id": "2664b765.2c1e98",
		"type": "function",
		"z": "c10444d6.24f428",
		"name": "get",
		"func": "flow.get(\"count\", \"consul\", function(err, count) { \n    msg.payload = count;\n    node.send(msg);\n})",
		"outputs": 1,
		"noerr": 0,
		"x": 490,
		"y": 140,
		"wires": [
			[
				"96e5c613.beddc8"
			]
		]
	},
	{
		"id": "4e2d4a43.e40fb4",
		"type": "change",
		"z": "c10444d6.24f428",
		"name": "global set foo true",
		"rules": [
			{
				"t": "set",
				"p": "#:(consul)::foo",
				"pt": "global",
				"to": "true",
				"tot": "bool"
			},
			{
				"t": "set",
				"p": "payload2",
				"pt": "msg",
				"to": "#:(consul)::foo",
				"tot": "global"
			}
		],
		"action": "",
		"property": "",
		"from": "",
		"to": "",
		"reg": false,
		"x": 310,
		"y": 220,
		"wires": [
			[
				"19250c40.2b8e04"
			]
		]
	},
	{
		"id": "19250c40.2b8e04",
		"type": "debug",
		"z": "c10444d6.24f428",
		"name": "",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "payload2",
		"targetType": "msg",
		"x": 660,
		"y": 220,
		"wires": [
		]
	}
]
